:link,:visited { text-decoration:none }
ul,ol { list-style:none }
h1,h2,h3,h4,h5,h6,pre,code { font-size:1em; }
ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,body,html,p,blockquote,fieldset,input
{ margin:0; padding:0 }
a img,:link img,:visited img { border:none }
address { font-style:normal }

body {
	margin : 0;
	padding : 0;
	text-align : center;
	font-family: "Trebuchet MS",verdana,sans-serif; 
	font-size: small;
}

#header {
	background : #1A7CCC;
	height : 100px;
	margin : 0;
	padding : 0;	
}

#header h1 {
	font-size : 2em;
	color : #fff;
}

#header h2 {
	font-size : 1.18em;
        color : #fff;
	margin-top : 0px;
}


#inside {
	margin : 0 auto;
	width : 770px;
	text-align : left;
	padding-top : 10px;
        padding-left : 1px;
}

#block {
        margin : 0 auto;
        width : 770px;
        text-align : left;
	height : 500px;
}

#menu { text-align : center; margin-bottom : 12px; }

#menu ul {
	height : 28px;
	padding-top : 4px;	
}

#menu ul li {display : inline; margin-left : -4px;}

#menu ul li a {
	font-size : 13px;	
	padding : 5px 8px;
        color : #076B9A;
	text-decoration : underline;
	font-weight : bold;
}



#menu ul li a:hover, #menu ul li a.active{
        background : #1A7CCC;
        color : #fff;
        text-decoration : none;	
}

#content {
	border-bottom : 1px solid #1A7CCC;
	margin-bottom : 2px;
	padding-bottom : 70px;
}

#content h3 a {
	color : #000;
}

#foot {
        border-top : 1px solid #1A7CCC;
	color : #aaa;
	text-align : center;
}

#foot a {color : #aaa; text-decoration : underline;}

#foot a:hover {color : #444; text-decoration : none;}

#content p {
	margin : 6px 0px;;
}

img {
	padding : 1px;
	border : 1px solid #1A7CCC;
}

body#body_independent img,
body#body_about img
 {
	position : relative;
	float : left;
	margin : 10px 10px 5px 0px;
}

body#body_service img,
body#body_news img
 {
        position : relative;
        float : right;
        margin : 10px 0px 10px 10px;
}

dl dt {text-decoration : underline;}

#content ul li {
        list-style-type : none;
        background : transparent url(../i/bullet.gif) no-repeat top left;
        padding-left : 20px;
        margin : 7px 0 0 5px;
}

#content h3 {
        font-size : 1.3em;
        margin : 4px 0;
}

#content h4 {
        font-size : 1.15em;
}
